SECRET_KEY=django-insecure-q6$(b++4li@@2cyw@7q!ahl))-57o=gn)2!1^s5qrodjri3^4k
DEBUG=True

DB_HOST=aws-1-eu-west-2.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.yfyvcaitukszpatcjnlg
DB_PASSWORD=#PqFWG3#vH53s3d      
DB_NAME=postgres

ALLOWED_HOSTS=localhost,127.0.0.1

SCHOOL_NAME=Boenix Girls Senior School
SCHOOL_SHORT=BHS
SCHOOL_MOTTO= focus Leadership Discipline 